appdirs==1.4.3
asn1crypto==0.24.0
babelfish==0.5.5
beautifulsoup4==4.6.0
certifi==2018.4.16
cffi==1.11.5
chardet==3.0.4
click==6.7
cryptography==2.2.2
deluge-client==1.6.0
dogpile.cache==0.6.5
enum34==1.1.6
enzyme==0.4.1
futures==3.2.0
guessit==1.0.3
idna==2.6
ipaddress==1.0.22
pbr==4.0.3
pycparser==2.18
pyOpenSSL==18.0.0
pysrt==1.1.1
python-dateutil==2.7.3
pytz==2018.4
qtfaststart==1.8
rarfile==3.0
rebulk==0.9.0
requests==2.18.4
requests-cache==0.4.13
six==1.11.0
stevedore==1.19.1
subliminal==1.1.1
urllib3==1.22
